@use '../utils' as util;

.banner {
    @include util.sectionMargin();
    background: util.$black;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 50rem;
    padding: 20rem 0 6rem;

    &--home {
        @extend .banner;
        padding: 24rem 0 8rem;
        min-height: 60rem;
    }

    &-content {
        position: relative;
        z-index: 2;
    }

    &-title {
        @extend .h1;
        color: util.$white;
    }

    &-text {
        font-size: 2rem;
        color: util.$white-75;
        margin-top: 1.8rem;
    }

    &-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3.2rem;
        margin-top: 2.4rem;
    }

    &-background {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &--shape {
            @extend .banner-background;
            left: auto;
            top: auto;
            display: none;

            @media (min-width: util.$xl) {
                display: block;
            }
        }
    }
}
