@use '../utils/' as util;

.nav {
    &-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 2.4rem;
        height: 100%;

        @media (min-width: util.$lg) {
            gap: 4.8rem;
        }
    }

    &-logo {
        @include util.logoStyles();
    }

    &-item {
        position: relative;
        font-size: 1.8rem;
        color: util.$white;

        > button,
        > a {
            cursor: pointer;
            text-decoration: none;
            color: util.$orange;
            background: none;
            border: none;
            padding: 0;
        }

        > button {
            > svg {
                font-size: 1.4rem;
                margin-left: 0.4rem;
            }
        }

        > a {
            color: util.$white;

            &:hover,
            &:focus {
                color: util.$orange;
            }
        }

        > ul {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transform: translateY(calc(100% + 0.8rem));
            background: util.$white;
            border-radius: 0.4rem;
            overflow: hidden;

            > a,
            > button {
                cursor: pointer;
                background: none;
                border: none;
                text-decoration: none;
                padding: 0.8rem 1rem;
                width: 100%;
                text-align: left;
                color: util.$black;
                transition: all 0.3s;

                &:hover,
                &:focus {
                    background: util.$orange;
                    color: util.$white;
                }
            }
        }
    }
}
