// Colors
$white: #fcfcfc;
$white-75: rgba($white, 0.75);
$black: #1e1e1e;
$black-75: rgba(#1e1e1e, 0.75);
$yellow: #fea501;
$yellow-75: rgba($yellow, 0.75);
$orange: #f07900;
$red: #f15e37;
$green: #3cb35a;

// Typography
$regular: 400;
$medium: 500;
$bold: 700;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
