@use '../utils' as util;

.banner {
    background: util.$black;

    &--home {
        @extend .banner;
        padding: 24rem 0 8rem;

        .banner {
            &-buttons {
                margin-top: 2.4rem;
            }
        }
    }

    &-title {
        @extend .h1;
        color: util.$white;
    }

    &-text {
        font-size: 2rem;
        color: util.$white-75;
    }

    &-buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 3.2rem;
    }
}
