@use '../utils' as util;

.banner {
    background: util.$black;

    &--home {
        @extend .banner;
        padding: 24rem 0 8rem;
    }

    &-title {
        @extend .h1;
        color: util.$white;
    }

    &-text {
        color: util.$white;
    }
}
