@use '../utils/' as util;

.button {
    cursor: pointer;
    background: util.$orange;
    border-radius: 0.8rem;
    border: 0.2rem solid util.$orange;
    color: util.$white;
    display: inline-block;
    font-size: 1.8rem;
    padding: 1rem 1.8rem;
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &:focus {
        background: darken(util.$orange, 10%);
    }

    &-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;

        &--marginbottom {
            @extend .button-wrap;
            margin-top: -4rem;
            margin-bottom: 8rem;
        }
    }

    &--outline {
        @extend .button;
        background: transparent;

        &:hover,
        &:focus {
            background: util.$orange;
        }
    }

    &--tertiary {
        @include util.underline(util.$orange);
        cursor: pointer;
        color: util.$white;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 0.1rem 0.2rem;
        border: none;
        background-color: transparent;
        transition: all 0.3s;

        &:hover,
        &:focus {
            color: util.$orange;
        }

        &-dark {
            @extend .button--tertiary;
            color: util.$black;
        }
    }

    &--warning {
        @extend .button;
        background: util.$red;
        border-color: util.$red;

        &:hover,
        &:focus {
            background: darken(util.$red, 10%);
        }
    }
}
