@use '../utils/' as util;

@mixin setFlashColors($titleBg) {
    .flash {
        &-titlewrap {
            background: $titleBg;
        }

        &-close {
            &:hover,
            &:focus {
                color: $titleBg;
            }
        }
    }
}

.flash {
    position: fixed;
    bottom: 1.6rem;
    right: 1.6rem;
    background: util.$white;
    border: 0.1rem solid util.$black;
    border-radius: 0.8rem;
    left: 1.6rem;
    overflow: hidden;

    @media (min-width: util.$lg) {
        width: 40rem;
        left: auto;
    }

    &--success,
    &--error {
        @extend .flash;
    }

    &--success {
        @include setFlashColors(util.$green);
    }

    &-error {
        @include setFlashColors(util.$red);
    }

    &-titlewrap,
    &-message {
        padding: 1.4rem 2rem;
    }

    &-titlewrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.6rem;
    }

    &-title {
        color: util.$white;
        font-size: 1.8rem;
    }

    &-message {
        font-size: 1.4rem;
    }

    &-close {
        cursor: pointer;
        background: none;
        border: 0.1rem solid util.$white;
        border-radius: 50%;
        color: util.$white;
        font-size: 1.2rem;
        transition: all 0.3s;
        padding: 0.4rem 0.8rem;

        &:hover,
        &:focus {
            background: util.$white;
        }

        &-text {
            @include util.visuallyHidden();
        }
    }
}
