@use '../utils/' as util;

.form {
    @include util.sectionMargin();

    &--filter {
        margin-bottom: 4rem;

        .form {
            &-wrap {
                &--filter {
                    .form-field {
                        @media (min-width: util.$lg) {
                            width: 30%;
                        }
                    }
                }
            }
        }
    }

    &-wrap {
        background: rgba(util.$black, 0.05);
        border: 0.1rem solid rgba(util.$black, 0.15);
        padding: 2.4rem;
        border-radius: 0.8rem;
        margin-bottom: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @media (min-width: util.$lg) {
            padding: 7.2rem;
            margin-bottom: 2.4rem;
        }

        &--lower {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.6rem;
            flex-wrap: wrap;

            a {
                color: util.$orange;

                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }

        &--links {
            @extend .form-wrap;

            .form {
                &-field {
                    input + label {
                        margin-top: 0.8rem;
                    }

                    & + .form-field {
                        margin-top: 0.8rem;
                        padding-top: 2.4rem;
                        border-top: 0.1rem solid rgba(util.$black, 0.15);
                    }
                }
            }
        }

        &--filter {
            label {
                @include util.visuallyHidden();
            }
        }

        > button {
            @media (min-width: util.$lg) {
                margin-left: auto;
            }

            svg {
                margin-right: 0.8rem;
            }
        }
    }

    &-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 1.6rem;
        width: 100%;
        border: none;
        padding: 0;

        label,
        legend,
        input {
            font-size: 1.8rem;
        }

        label,
        legend {
            font-weight: util.$medium;
            margin-bottom: 0.4rem;
        }

        legend {
            float: left;
        }

        input {
            padding: 1.2rem 1.6rem;
            border: 0.1rem solid rgba(util.$black, 0.15);
            border-radius: 0.8rem;
        }

        &:is(fieldset) {
            label {
                font-size: 1.4rem;
            }
        }
    }

    &-errors {
        padding: 0;
        list-style: none;
        background: rgba(util.$red, 0.25);
        border: 0.2rem solid util.$red;
        border-radius: 0.4rem;
        margin-bottom: 2.4rem;
        padding: 1.6rem;
        width: 100%;
    }

    &-error {
        display: flex;
        gap: 0.8rem;
        color: util.$red;

        svg {
            width: 1rem;
            position: relative;
            top: 0.3rem;
        }

        & + .form-error {
            margin-top: 0.4rem;
        }
    }
}
